n8n/n8n-tesseract/workflows2.json
[{"updatedAt":"2026-04-24T07:42:46.000Z","createdAt":"2025-09-04T07:03:43.717Z","id":"R9K03ibcpRYd5miT","name":"My workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"zipfile","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"6e9a11f8-0feb-4ceb-9cb8-784dc8db0cd9","name":"Webhook","webhookId":"e52e4496-63e5-45fd-90e3-996fed8a4fbe"},{"parameters":{"assignments":{"assignments":[{"id":"5de90d18-c301-4200-918b-7a9812cdc382","name":"Base64_data","value":"={{ $input.item.binary.file.data }}","type":"string"},{"id":"206db1b9-351f-44a1-b7c4-0d17ad274cb8","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,0],"id":"df1f8e0d-bcaa-4d56-b95a-3849a45b7bdc","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"Base64_data","options":{"fileName":"samplezip.zip","mimeType":"application/x-zip-compressed"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[384,0],"id":"78b2cade-3edb-4809-a50b-9fc47649a670","name":"Convert to File"},{"parameters":{},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[608,0],"id":"d6dd18ab-f695-4b45-9e3f-2714bac41596","name":"Compression1"},{"parameters":{"jsCode":"// n8n Code node (JavaScript) — Run Once for All Items\n// Input: items from Compression→Decompress (each with .binary fileN)\n// Output: one item with { messages: [...] }\n\nconst filesByName = {};\nfor (const it of items) {\n  if (!it.binary) continue;\n  for (const key of Object.keys(it.binary)) {\n    const b = it.binary[key];\n    if (!b?.fileName) continue;\n    filesByName[b.fileName] = {\n      fileName: b.fileName,\n      mimeType: b.mimeType,\n      // some n8n versions expose .data, some .base64 — support both\n      base64: b.base64 || b.data,\n    };\n  }\n}\n\n// Find the chat .txt file\nconst txtFileName = Object.keys(filesByName).find(n =>\n  n.toLowerCase().endsWith('.txt')\n);\nif (!txtFileName) {\n  return [{ json: { ok: false, messages: [], error: 'No .txt chat file found in the decompressed ZIP.' } }];\n}\n\n// Read chat text\nconst chatText = Buffer\n  .from(filesByName[txtFileName].base64, 'base64')\n  .toString('utf8');\n\n// Header regex: \"dd/mm/yyyy, hh:mm - Sender: Message\" (supports am/pm and 24h; hyphen or en-dash)\nconst headerRe = /^(\\d{1,2}\\/\\d{1,2}\\/\\d{4}),\\s(\\d{1,2}:\\d{2}(?:\\s?(?:am|pm))?)\\s[-–]\\s([^:]+?):\\s(.*)$/i;\n\nfunction parseToISO(dateStr, timeStr) {\n  // expects dd/mm/yyyy (typical WA export outside US)\n  const [day, month, year] = dateStr.split('/').map(Number);\n  let h = 0, m = 0;\n  if (/am|pm/i.test(timeStr)) {\n    const ampm = timeStr.slice(-2).toLowerCase();\n    const [hh, mm] = timeStr.replace(/am|pm/i, '').trim().split(':').map(Number);\n    h = hh; m = mm;\n    if (ampm === 'pm' && h < 12) h += 12;\n    if (ampm === 'am' && h === 12) h = 0;\n  } else {\n    [h, m] = timeStr.split(':').map(Number);\n  }\n  return new Date(year, month - 1, day, h, m).toISOString();\n}\n\n// Try to resolve a file mention in text to a decompressed file\nfunction mediaFromText(line) {\n  if (!line) return null;\n  const m = line.match(\n    /([A-Za-z0-9_\\-]+?\\.(?:jpe?g|png|webp|gif|heic|mp4|mov|m4v|pdf|docx?|xlsx?|zip|rar|mp3|ogg))/i\n  );\n  if (!m) return null;\n  const fname = m[1];\n  const f = filesByName[fname];\n  if (!f) return null;\n  return { filename: f.fileName, mimeType: f.mimeType, base64: f.base64 };\n}\n\nconst lines = chatText.replace(/\\uFEFF/g, '').split(/\\r?\\n/);\nconst messages = [];\nlet last = null;\n\nfor (const raw of lines) {\n  if (!raw) continue;\n\n  const m = raw.match(headerRe);\n  if (m) {\n    const [, date, time, sender, messageRaw0] = m;\n    let messageRaw = messageRaw0 || '';\n\n    // Skip system banner\n    if (/^Messages and calls are end-to-end encrypted/i.test(messageRaw)) continue;\n\n    // Is this a media announcement line?\n    let media = mediaFromText(messageRaw);\n    const saysFileAttached = /\\(file attached\\)\\s*$/i.test(messageRaw);\n    const saysMediaOmitted = /<Media omitted>/.test(messageRaw);\n\n    const msg = {\n      timestamp: parseToISO(date, time),\n      sender: sender.trim(),\n      message: messageRaw,\n      media: media || null,\n    };\n\n    // If it's a media line (explicit file or \"(file attached)\"):\n    // - drop the label from bubble\n    // - expect the next continuation line(s) to be the caption\n    if (media || saysFileAttached || saysMediaOmitted) {\n      msg.message = '';            // don't show \"IMG-... (file attached)\"\n      msg._expectCaption = true;   // next non-header lines become caption\n    }\n\n    last = msg;\n    messages.push(msg);\n\n  } else if (last) {\n    // Continuation line (no sender/timestamp)\n    const cont = raw.trim();\n    if (!cont) continue;\n\n    // If we just had a media message (or are still expecting), treat as caption\n    if (last._expectCaption || last.media) {\n      last.caption = (last.caption ? last.caption + '\\n' : '') + cont;\n      last._expectCaption = false;\n    } else {\n      // Multiline text message continuation\n      last.message = (last.message ? last.message + '\\n' : '') + cont;\n    }\n  }\n}\n\n// Cleanup helper flags\nfor (const m of messages) delete m._expectCaption;\n\nreturn [{ json: { messages } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"1014bac1-e349-4ecf-8db9-e866573ceaff","name":"Code"},{"parameters":{"respondWith":"json","responseBody":"={{ {\"ok\": true, \"messages\": $json.messages ?? [], \"count\": ($json.messages ?? []).length} }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1088,0],"id":"f40863ba-7ade-4b7a-ba4d-d44db8287c04","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Compression1","type":"main","index":0}]]},"Compression1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"39826699-5fca-4066-8a1c-957462de8317","activeVersionId":"39826699-5fca-4066-8a1c-957462de8317","versionCounter":11,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-09-04T07:03:43.734Z","createdAt":"2025-09-04T07:03:43.734Z","role":"workflow:owner","workflowId":"R9K03ibcpRYd5miT","projectId":"C5GhCN9EQ8by67nf","project":{"updatedAt":"2025-09-04T07:00:32.350Z","createdAt":"2025-09-04T06:59:21.234Z","id":"C5GhCN9EQ8by67nf","name":"Bappu Gore <bappugore111@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bc5d22e5-7e3e-46c6-b704-cf554390244f"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2025-09-04T07:34:02.000Z","createdAt":"2025-09-04T07:27:20.677Z","id":"SWNx7jxeAfO4UL0o","name":"My workflow 2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatbot","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-224,16],"id":"e32b6ef4-e17a-4eab-9d7b-632bbaaba307","name":"Webhook","webhookId":"36bb986c-bc8f-4970-9609-800c73a21f9d"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"reply\": {{JSON.stringify($json.reply)}}\n}\n","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[272,288],"id":"5f1e5272-1e49-401f-afcf-9a47e5029ff4","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"282c74a2-ad0e-48d5-a182-2d7a83def927","name":"response","value":"={{$json.message.content.replaceAll(/\\n/g, '\\\\n')}}","type":"string"},{"id":"6686dd15-1c89-4735-95c2-a152a666c136","name":"reply","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,272],"id":"39ac06d3-be4f-4093-b6e8-c6ca10073e61","name":"Edit Fields"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"={{ $json.body.message }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,0],"id":"a6794a2a-f5b1-413c-80fc-f80a1c0930e8","name":"Message a model","alwaysOutputData":false,"notesInFlow":false,"credentials":{"openAiApi":{"id":"M63XFKQElAdAHSDV","name":"OpenAi account"}},"onError":"continueErrorOutput"}],"connections":{"Webhook":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e7a24a49-a25a-4972-84c2-a85c06e27cff","activeVersionId":"e7a24a49-a25a-4972-84c2-a85c06e27cff","versionCounter":9,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-09-04T07:27:20.696Z","createdAt":"2025-09-04T07:27:20.696Z","role":"workflow:owner","workflowId":"SWNx7jxeAfO4UL0o","projectId":"C5GhCN9EQ8by67nf","project":{"updatedAt":"2025-09-04T07:00:32.350Z","createdAt":"2025-09-04T06:59:21.234Z","id":"C5GhCN9EQ8by67nf","name":"Bappu Gore <bappugore111@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bc5d22e5-7e3e-46c6-b704-cf554390244f"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-24T07:36:05.926Z","createdAt":"2026-04-24T07:21:11.798Z","id":"w3bmw7OIw4hlLuJs","name":"Whatsapp_Chat","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"zipfile","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,32],"id":"c030534d-2a7a-4e5e-938c-1448d815d35c","name":"Webhook","webhookId":"e52e4496-63e5-45fd-90e3-996fed8a4fbe"},{"parameters":{"assignments":{"assignments":[{"id":"5de90d18-c301-4200-918b-7a9812cdc382","name":"Base64_data","value":"={{ $input.item.binary.file.data }}","type":"string"},{"id":"206db1b9-351f-44a1-b7c4-0d17ad274cb8","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,32],"id":"9903bf46-4e44-4fde-a918-f1b32fa3a490","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"Base64_data","options":{"fileName":"samplezip.zip","mimeType":"application/x-zip-compressed"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,32],"id":"fbfa5c89-024a-4f5a-9237-62e3495ae887","name":"Convert to File"},{"parameters":{},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[672,32],"id":"eac64721-7355-4177-a091-5b231ea7a0b7","name":"Compression1"},{"parameters":{"jsCode":"// n8n Code node (JavaScript) — Run Once for All Items\n// Input: items from Compression→Decompress (each with .binary fileN)\n// Output: one item with { messages: [...] }\n\nconst filesByName = {};\nfor (const it of items) {\n  if (!it.binary) continue;\n  for (const key of Object.keys(it.binary)) {\n    const b = it.binary[key];\n    if (!b?.fileName) continue;\n    filesByName[b.fileName] = {\n      fileName: b.fileName,\n      mimeType: b.mimeType,\n      // some n8n versions expose .data, some .base64 — support both\n      base64: b.base64 || b.data,\n    };\n  }\n}\n\n// Find the chat .txt file\nconst txtFileName = Object.keys(filesByName).find(n =>\n  n.toLowerCase().endsWith('.txt')\n);\nif (!txtFileName) {\n  throw new Error('No .txt chat file found in the decompressed ZIP.');\n}\n\n// Read chat text\nconst chatText = Buffer\n  .from(filesByName[txtFileName].base64, 'base64')\n  .toString('utf8');\n\n// Header regex: \"dd/mm/yyyy, hh:mm - Sender: Message\" (supports am/pm and 24h; hyphen or en-dash)\nconst headerRe = /^(\\d{1,2}\\/\\d{1,2}\\/\\d{4}),\\s(\\d{1,2}:\\d{2}(?:\\s?(?:am|pm))?)\\s[-–]\\s([^:]+?):\\s(.*)$/i;\n\nfunction parseToISO(dateStr, timeStr) {\n  // expects dd/mm/yyyy (typical WA export outside US)\n  const [day, month, year] = dateStr.split('/').map(Number);\n  let h = 0, m = 0;\n  if (/am|pm/i.test(timeStr)) {\n    const ampm = timeStr.slice(-2).toLowerCase();\n    const [hh, mm] = timeStr.replace(/am|pm/i, '').trim().split(':').map(Number);\n    h = hh; m = mm;\n    if (ampm === 'pm' && h < 12) h += 12;\n    if (ampm === 'am' && h === 12) h = 0;\n  } else {\n    [h, m] = timeStr.split(':').map(Number);\n  }\n  return new Date(year, month - 1, day, h, m).toISOString();\n}\n\n// Try to resolve a file mention in text to a decompressed file\nfunction mediaFromText(line) {\n  if (!line) return null;\n  const m = line.match(\n    /([A-Za-z0-9_\\-]+?\\.(?:jpe?g|png|webp|gif|heic|mp4|mov|m4v|pdf|docx?|xlsx?|zip|rar|mp3|ogg))/i\n  );\n  if (!m) return null;\n  const fname = m[1];\n  const f = filesByName[fname];\n  if (!f) return null;\n  return { filename: f.fileName, mimeType: f.mimeType, base64: f.base64 };\n}\n\nconst lines = chatText.replace(/\\uFEFF/g, '').split(/\\r?\\n/);\nconst messages = [];\nlet last = null;\n\nfor (const raw of lines) {\n  if (!raw) continue;\n\n  const m = raw.match(headerRe);\n  if (m) {\n    const [, date, time, sender, messageRaw0] = m;\n    let messageRaw = messageRaw0 || '';\n\n    // Skip system banner\n    if (/^Messages and calls are end-to-end encrypted/i.test(messageRaw)) continue;\n\n    // Is this a media announcement line?\n    let media = mediaFromText(messageRaw);\n    const saysFileAttached = /\\(file attached\\)\\s*$/i.test(messageRaw);\n    const saysMediaOmitted = /<Media omitted>/.test(messageRaw);\n\n    const msg = {\n      timestamp: parseToISO(date, time),\n      sender: sender.trim(),\n      message: messageRaw,\n      media: media || null,\n    };\n\n    // If it's a media line (explicit file or \"(file attached)\"):\n    // - drop the label from bubble\n    // - expect the next continuation line(s) to be the caption\n    if (media || saysFileAttached || saysMediaOmitted) {\n      msg.message = '';            // don't show \"IMG-... (file attached)\"\n      msg._expectCaption = true;   // next non-header lines become caption\n    }\n\n    last = msg;\n    messages.push(msg);\n\n  } else if (last) {\n    // Continuation line (no sender/timestamp)\n    const cont = raw.trim();\n    if (!cont) continue;\n\n    // If we just had a media message (or are still expecting), treat as caption\n    if (last._expectCaption || last.media) {\n      last.caption = (last.caption ? last.caption + '\\n' : '') + cont;\n      last._expectCaption = false;\n    } else {\n      // Multiline text message continuation\n      last.message = (last.message ? last.message + '\\n' : '') + cont;\n    }\n  }\n}\n\n// Cleanup helper flags\nfor (const m of messages) delete m._expectCaption;\n\nreturn [{ json: { messages } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,32],"id":"c67cfb1a-d34d-4b50-820b-f16c1e27c4b9","name":"Code"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1120,32],"id":"bb0e55a0-4c67-4303-9c29-b343ec9fec74","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"zipfile","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-192],"id":"c812e4e0-8298-44d4-9d5a-3efd656c513d","name":"Webhook1","webhookId":"e52e4496-63e5-45fd-90e3-996fed8a4fbe"},{"parameters":{"assignments":{"assignments":[{"id":"5de90d18-c301-4200-918b-7a9812cdc382","name":"Base64_data","value":"={{ $input.item.binary.file.data }}","type":"string"},{"id":"206db1b9-351f-44a1-b7c4-0d17ad274cb8","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-192],"id":"e34ab1dc-d07d-47e5-ad43-08cbe85bf3a5","name":"Edit Fields1"},{"parameters":{"operation":"toBinary","sourceProperty":"Base64_data","options":{"fileName":"samplezip.zip","mimeType":"application/x-zip-compressed"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,-192],"id":"6cfd28b1-81a2-476b-a506-fe64795f2a3a","name":"Convert to File1"},{"parameters":{},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[672,-192],"id":"93033bee-9baa-4ba8-8ef4-603ca839fb3b","name":"Compression"},{"parameters":{"jsCode":"// n8n Code node (JavaScript) — Run Once for All Items\n// Input: items from Compression→Decompress (each with .binary fileN)\n// Output: one item with { messages: [...] }\n\nconst filesByName = {};\nfor (const it of items) {\n  if (!it.binary) continue;\n  for (const key of Object.keys(it.binary)) {\n    const b = it.binary[key];\n    if (!b?.fileName) continue;\n    filesByName[b.fileName] = {\n      fileName: b.fileName,\n      mimeType: b.mimeType,\n      // some n8n versions expose .data, some .base64 — support both\n      base64: b.base64 || b.data,\n    };\n  }\n}\n\n// Find the chat .txt file\nconst txtFileName = Object.keys(filesByName).find(n =>\n  n.toLowerCase().endsWith('.txt')\n);\nif (!txtFileName) {\n  throw new Error('No .txt chat file found in the decompressed ZIP.');\n}\n\n// Read chat text\nconst chatText = Buffer\n  .from(filesByName[txtFileName].base64, 'base64')\n  .toString('utf8');\n\n// Header regex: \"dd/mm/yyyy, hh:mm - Sender: Message\" (supports am/pm and 24h; hyphen or en-dash)\nconst headerRe = /^(\\d{1,2}\\/\\d{1,2}\\/\\d{4}),\\s(\\d{1,2}:\\d{2}(?:\\s?(?:am|pm))?)\\s[-–]\\s([^:]+?):\\s(.*)$/i;\n\nfunction parseToISO(dateStr, timeStr) {\n  // expects dd/mm/yyyy (typical WA export outside US)\n  const [day, month, year] = dateStr.split('/').map(Number);\n  let h = 0, m = 0;\n  if (/am|pm/i.test(timeStr)) {\n    const ampm = timeStr.slice(-2).toLowerCase();\n    const [hh, mm] = timeStr.replace(/am|pm/i, '').trim().split(':').map(Number);\n    h = hh; m = mm;\n    if (ampm === 'pm' && h < 12) h += 12;\n    if (ampm === 'am' && h === 12) h = 0;\n  } else {\n    [h, m] = timeStr.split(':').map(Number);\n  }\n  return new Date(year, month - 1, day, h, m).toISOString();\n}\n\n// Try to resolve a file mention in text to a decompressed file\nfunction mediaFromText(line) {\n  if (!line) return null;\n  const m = line.match(\n    /([A-Za-z0-9_\\-]+?\\.(?:jpe?g|png|webp|gif|heic|mp4|mov|m4v|pdf|docx?|xlsx?|zip|rar|mp3|ogg))/i\n  );\n  if (!m) return null;\n  const fname = m[1];\n  const f = filesByName[fname];\n  if (!f) return null;\n  return { filename: f.fileName, mimeType: f.mimeType, base64: f.base64 };\n}\n\nconst lines = chatText.replace(/\\uFEFF/g, '').split(/\\r?\\n/);\nconst messages = [];\nlet last = null;\n\nfor (const raw of lines) {\n  if (!raw) continue;\n\n  const m = raw.match(headerRe);\n  if (m) {\n    const [, date, time, sender, messageRaw0] = m;\n    let messageRaw = messageRaw0 || '';\n\n    // Skip system banner\n    if (/^Messages and calls are end-to-end encrypted/i.test(messageRaw)) continue;\n\n    // Is this a media announcement line?\n    let media = mediaFromText(messageRaw);\n    const saysFileAttached = /\\(file attached\\)\\s*$/i.test(messageRaw);\n    const saysMediaOmitted = /<Media omitted>/.test(messageRaw);\n\n    const msg = {\n      timestamp: parseToISO(date, time),\n      sender: sender.trim(),\n      message: messageRaw,\n      media: media || null,\n    };\n\n    // If it's a media line (explicit file or \"(file attached)\"):\n    // - drop the label from bubble\n    // - expect the next continuation line(s) to be the caption\n    if (media || saysFileAttached || saysMediaOmitted) {\n      msg.message = '';            // don't show \"IMG-... (file attached)\"\n      msg._expectCaption = true;   // next non-header lines become caption\n    }\n\n    last = msg;\n    messages.push(msg);\n\n  } else if (last) {\n    // Continuation line (no sender/timestamp)\n    const cont = raw.trim();\n    if (!cont) continue;\n\n    // If we just had a media message (or are still expecting), treat as caption\n    if (last._expectCaption || last.media) {\n      last.caption = (last.caption ? last.caption + '\\n' : '') + cont;\n      last._expectCaption = false;\n    } else {\n      // Multiline text message continuation\n      last.message = (last.message ? last.message + '\\n' : '') + cont;\n    }\n  }\n}\n\n// Cleanup helper flags\nfor (const m of messages) delete m._expectCaption;\n\nreturn [{ json: { messages } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-192],"id":"4e47c124-1696-4a2b-ac14-b72d420e36d4","name":"Code1"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1120,-192],"id":"61ec1351-1537-4b33-b09d-084e1d4ed683","name":"Respond to Webhook1"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Compression1","type":"main","index":0}]]},"Compression1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Compression","type":"main","index":0}]]},"Compression":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"9b252ef5-1dd8-4925-acbe-006c4cc1cd31","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-24T07:21:11.800Z","createdAt":"2026-04-24T07:21:11.800Z","role":"workflow:owner","workflowId":"w3bmw7OIw4hlLuJs","projectId":"C5GhCN9EQ8by67nf","project":{"updatedAt":"2025-09-04T07:00:32.350Z","createdAt":"2025-09-04T06:59:21.234Z","id":"C5GhCN9EQ8by67nf","name":"Bappu Gore <bappugore111@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bc5d22e5-7e3e-46c6-b704-cf554390244f"}}],"versionMetadata":{"name":null,"description":null}}]