Mxgraph_ReactFlow/sample-n8n-workflow.json
{
  "name": "Customer Feedback Handler - Sample",
  "nodes": [
    {
      "parameters": {
        "path": "customer-feedback",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Receive Feedback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.rating }}",
              "operation": "largerEqual",
              "value2": 4
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Check Rating",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Thank you for your positive feedback!"
            },
            {
              "name": "action",
              "value": "send_thank_you"
            }
          ]
        },
        "options": {}
      },
      "id": "set-positive",
      "name": "Format Positive Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "We're sorry. A manager will contact you."
            },
            {
              "name": "action",
              "value": "alert_manager"
            }
          ]
        },
        "options": {}
      },
      "id": "set-negative",
      "name": "Format Negative Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "url": "https://webhook.site/your-unique-url",
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "id": "http-1",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Receive Feedback": {
      "main": [
        [
          {
            "node": "Check Rating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Rating": {
      "main": [
        [
          {
            "node": "Format Positive Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Negative Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Positive Message": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Negative Message": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "sample-workflow",
  "meta": {
    "instanceId": "demo"
  },
  "tags": []
}
